<div class="card">
    <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true" [globalFilterFields]="['firstname','lastname','address']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />`
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">Customer <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="country">Country<p-sortIcon field="country"></p-sortIcon></th>
                <th pSortableColumn="address">Address <p-sortIcon field="address"></p-sortIcon></th>
                <!-- <th pSortableColumn="town">Town/City <p-sortIcon field="town"></p-sortIcon></th>
                <th pSortableColumn="state">Country/State<p-sortIcon field="state"></p-sortIcon></th> -->
                <!-- <th pSortableColumn="postcode">Postcode/Zip <p-sortIcon field="postcode"></p-sortIcon></th> -->
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="price">Total <p-sortIcon field="price"></p-sortIcon></th>
                <th style="min-width:10rem">Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr>
                <td style="width: 4rem">
                    <p-tableCheckbox [value]="order"></p-tableCheckbox>
                </td>
                <td>{{order.firstname}} {{order.lastname}}</td>
                <td>{{order.country}}</td>
                <td>{{order.address}}</td>
                <td>{{order.phone}}</td>
                <td>{{order.email}}</td>
                <td>{{order.totalPrice}}</td>
                <td><button pButton type="button" label="Waiting For Delivery" class="p-button-success"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>