<section class="breadcrumb-section set-bg" [ngStyle]="{backgroundImage:'url(assets/image/breadcrumb.jpg'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Search</h2>
                    <div class="breadcrumb__option">
                        <a routerLink="/" >Home</a>
                        <span>Search</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="sidebar">
                    <div class="sidebar__item">
                        <h4>Department</h4>
                        <ul>
                            <li><a routerLink="/category/{{category.id}}" *ngFor="let category of listCategory">{{category.name}}</a></li>

                        </ul>
                    </div>
                    <div class="sidebar__item">
                        <h4>Price</h4>
                        <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0" [max]="500" [style]="{'background':'#dd2222'}"  ></p-slider>
                        <div class="price-input mt-3">
                            {{rangeValues[0] | currency}} - {{rangeValues[1] | currency}} 
                        </div>
                    </div>
                    <div class="sidebar__item">
                        <div class="latest-product__text">
                            <h4>Latest Products</h4>
                            <div class="latest-product__slider">
                                <div class="latest-prdouct__slider__item">
                                    <a href="#" class="latest-product__item" *ngFor="let product of listProductNewest">
                                        <div class="latest-product__item__pic">
                                            <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{product.name}}</h6>
                                            <span>{{product.price | currency}}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-7">
                <!-- <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h2>Sale Off</h2>
                    </div>
                    <div class="row">
                        <div class="product__discount__slider">
                            <div class="col-lg-4">
                                <div class="product__discount__item">
                                    <div class="product__discount__item__pic set-bg"
                                        data-setbg="img/product/discount/pd-1.jpg">
                                        <div class="product__discount__percent">-20%</div>
                                        <ul class="product__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__discount__item__text">
                                        <span>Dried Fruit</span>
                                        <h5><a href="#">Raisin’n’nuts</a></h5>
                                        <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="row">
                    <p-dataView [value]="listProduct" [paginator]="true" [rows]="4" >
                        <ng-template let-product pTemplate="listItem">
                            <div class="col-lg-3 col-md-4 col-sm-6 px-2">
                                <div class="featured__item">
                                    <div class="featured__item__pic set-bg" [ngStyle]="{'background-image': 'url(data:image/jpeg;base64,'+ product.images[0].data+')'}">
                                        <ul class="featured__item__pic__hover">
                                            <li><a href="javascript:void(0)" (click)="addToWishList(product)"><fa-icon [icon]="heart"></fa-icon></a></li>
                                            <li><a href="javascript:void(0)" routerLink="/product/{{product.id}}"><fa-icon [icon]="retweet"></fa-icon></a></li>
                                            <li><a href="javascript:void(0)" (click)="addToCart(product)"><fa-icon [icon]="bag"></fa-icon></a></li>
                                        </ul>
                                    </div>
                                    <div class="featured__item__text">
                                        <h6><a href="javascript:void(0)">{{product.name}}</a></h6>
                                        <h5>{{product.price | currency}}</h5>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                    
                </div>
            </div>
        </div>
    </div>
</section>